<mat-toolbar color="accent">
    <span class="title-nav">Météo Franche</span>
</mat-toolbar>

<div class="input-group">
    <mat-grid-list cols="4" rowHeight="100px">
        <!-- SEARCH BAR -->
        <mat-grid-tile colspan="4" rowspan="1">
            <ng-container>
                <mat-form-field appearance="outline" style="min-width: 30%;">
                    <input matInput [(ngModel)]="location" placeholder="Search" (ngModelChange)="getAutocompletion()" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of autocompletions" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-flat-button color="primary" (click)="search()" style="margin-left: -0.3em; height: 52px; margin-top: -1.35em;">
                    <mat-icon>search</mat-icon>
                </button>
            </ng-container>
        </mat-grid-tile>

        <!-- EMPTY -->
        <mat-grid-tile colspan="1" rowspan="4"></mat-grid-tile>

        <!-- WEATHER -->
        <mat-grid-tile colspan="1" rowspan="4">
            <mat-card class="weather">
                <mat-card-header>
                    <mat-card-title>Météo du jour</mat-card-title>
                    <mat-card-subtitle>{{ date | date:'dd.MM.yyyy - HH:mm' }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <mat-card class="data">
                        <mat-card-content class="degree">{{ current_temp }}°</mat-card-content>
                        <mat-card-title>{{ current_loc1 }}</mat-card-title>
                        <mat-card-subtitle>{{ current_loc2 }}</mat-card-subtitle>

                        <mat-card-content>{{ current_text }}</mat-card-content>
                        <mat-card-content>
                            <mat-grid-list cols="2" rowHeight="16px">
                                <mat-grid-tile colspan="1" rowspan="1"><b>Vent</b></mat-grid-tile>
                                <mat-grid-tile colspan="1" rowspan="1"><b>Humidité</b></mat-grid-tile>
                                <mat-grid-tile colspan="1" rowspan="1">{{ current_wind }}km/h</mat-grid-tile>
                                <mat-grid-tile colspan="1" rowspan="1">{{ current_humidity }}%</mat-grid-tile>
                            </mat-grid-list>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <!-- ADVICES -->
        <mat-grid-tile colspan="1" rowspan="4">
            <mat-card class="advices">
                <mat-card-header>
                    <mat-card-title>Nos conseils</mat-card-title>
                    <mat-card-subtitle>Ce que vous devriez prendre avec vous !</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="data">
                    <img *ngFor="let url of objects_adv" [src]="url"/><br/>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <!-- EMPTY -->
        <mat-grid-tile colspan="1" rowspan="4"></mat-grid-tile>

        <!-- FORECASTS -->
        <mat-grid-tile colspan="4" rowspan="2">
            <div style="display: block; width: 200px;"><h2>Prévisions des prochains jours</h2></div>
            <mat-card class="forecast" *ngFor="let day of forecasts | slice:1; let i = index;">
                <mat-card-content class="degree-forecast">{{ day.maxTemperature }}° / {{ day.minTemperature }}°</mat-card-content>
                <mat-card-content><b>{{ day.date | date: 'dd.MM.yyyy' }}</b></mat-card-content>

                <mat-card-content>{{ day.text }}</mat-card-content>
                <mat-card-content>
                    <mat-grid-list cols="1" rowHeight="16px">
                        <mat-grid-tile colspan="1" rowspan="1"><b>Humidité</b></mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">{{ day.humidity }}%</mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>