@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.weather, .advices {
    min-width: 95%;
    max-width: 95%;
    max-height: 100%;
    min-height: 100%;
    box-shadow: none;
    margin: auto;
}

.weather .data {
    text-align: center;
    box-shadow: none;
    padding: 3em 3em 2em 3em;
    background-color: #3f51b5;
    color: white;
}

.weather .data mat-card-subtitle {
    color: white;
}

.advices .data {
    display: flex;
    box-shadow: none;
}

.advices .data > img {
    margin: auto;
    width: 150px;
}

.degree {
    font-size: 5em;
    margin-bottom: 30px;
}

.forecast {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #efefef;
    text-align: center;
    padding: 2.5em;
    width: 150px;
}

.degree-forecast {
    font-size: 3em;
    margin-bottom: 30px;
}

.title-nav {
    margin: auto;
    font-size: 2em;
    font-family: 'Rubik Bubbles', cursive;
}